# .github/workflows/deploy-dev.yml
name: Build Layer - shared-lambda-layer-api-sfv-arm64

on:
  push:
    branches-ignore:
      - "SFV_*"
      - "FLX_*"
      - "FB*"
    tags-ignore:
      - "*"

jobs:
  Build:
    uses: Landix-Sistemas/sre-shared-repository-reusable-workflows/.github/workflows/layer-build.yml@master
    with:
      layer_name: "shared-lambda-layer-api-sfv-arm64"
      branch_name: ${{ github.ref_name }}
      layer_type: "python" # ou nodejs para node
      runtime_version: "3.14" # ou 22.x para nodejs
      architecture: "arm64"
    secrets: inherit
  PullRequest:
    needs: Build
    if: ${{ needs.Build.outputs.merge_to != 'n/a' && needs.Build.outputs.merge_to != '' }}
    uses: Landix-Sistemas/sre-shared-repository-reusable-workflows/.github/workflows/create-pull-request.yml@master
    secrets: inherit
    with:
      branch_name: ${{ github.ref_name }}
      merge_to: ${{ needs.Build.outputs.merge_to }}
      pr_title: "Merge changes from ${{ github.ref_name }} to ${{ needs.Build.outputs.merge_to }}"
      pr_body: ${{ github.event.head_commit.message }}
